/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    margin-bottom: 20px;
}

#results .card {
    margin: 15px;
}

#results img {
    height: 300px;
    object-fit: cover;
}
